:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    color: var(--dark-grayish-blue);
    background-color: var(--cream);
}

.card{
    width: 92%;
    max-width: 450px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;

    border-radius: 0.5rem;
}

.perfume-img{
    max-width: 100%;
    display: block;
}

.product-info{
    padding:1.75rem;
    background-color: var(--white);
}

.product-name{
    margin-top: 0;

    font-size: 0.80rem;
    letter-spacing: .25rem;
}

.product-title{
    margin-top: 0;
    font-family: 'Fraunces', serif;
    font-size: 1.95rem;
    color: var(--very-dark-blue);
}

.product-desc{
    line-height: 1.75;
}

.price{
    display: flex;
    align-items: center;
}

.current-price{
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    font-family: 'Fraunces', serif;
    font-size: 2rem;

    color: var(--dark-cyan);
}

.button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--dark-cyan);
    color: var(--white);
}

.button:focus-visible{
    outline: 2px solid black;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    background-color: hsl(158, 36%, 25%);
}

.cart-img{
    margin-right: 0.5rem;
}

@media (min-width:1000px){
    
    .card{
        display: flex;
        max-width: 600px;
    }

    .product-img,
    .product-info{
        width: 50%;
    }
}
